.weather {
  border: 1px solid rgb(177, 176, 176);
  border-radius: 4px;
  margin: 30px auto;
  font-style: arial, sans-serif;
  max-width: 500px;
}
ul {
  list-style: none;
}
.cityName{
  margin: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}
form {
  margin: 20px;
  width: 100%;
}
img{
  width: 150px;
  height: 150px;
}
.data1 {
  text-align: left;
}
.data2 {
  text-align: left;
}

.linkToGit {
  margin: 10px;
}
