.weather {
  border: 1px solid rgb(177, 176, 176);
  border-radius: 4px;
  margin: 30px auto;
  font-style: arial, sans-serif;
  max-width: 600px;
}
ul {
  list-style: none;
}
.cityName {
  margin: 0px 0px 0px 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}
form {
  margin: 20px;
  width: 100%;
}
img {
  width: 130px;
  height: 130px;
  padding: 10px auto;
}
.data1 {
  text-align: left;
}

.linkToGit {
  margin: 10px;
}

.conditions {
  padding: 30px 0px 0px 70px;
}
